/* Main Layout */
#mainLayout,
label,
.form-control::placeholder {
  color: #c29b39;
}

#mainLayout h1 {
  font-weight: bolder;
  size: 3.3rem;
  line-height: 1.5;
}

.mainSection,
.mainContent {
  position: relative;
  overflow: hidden;
}

#title1 {
  position: relative;
  right: 8rem;
}

.mainSection:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./imgs/bg1.png");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#textWelcome2,
#textWelcome {
  width: 34rem;
  text-align: justify;
  text-indent: 1.5rem;
  padding: 1rem;
}

.carousel-img1 {
  width: 22%;
  transform: rotate(-5deg) scale(1.25);
  position: absolute;
  right: 8rem;
  top: 23%;
}

.carousel-img2 {
  width: 22%;
  transform: rotate(-5deg) scale(1.25);
  position: absolute;
  left: -1%;
  padding-top: 8%;
}

/*  Navbar */

.navbar {
  padding: 0 8rem;
}

.navbar-dark,
.navbar-brand {
  color: #c19441;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

option:hover {
  background-color: #ffffff !important;
  color: #c19441 !important;
  border-color: transparent !important;
}

.form-select:hover,
.sortBy:hover,
.nav-link.active:hover,
.nav-link:hover,
.nav-item:hover {
  color: #ab843c5a !important;
}

.nav-item {
  padding: 0 0.3rem;
}

.nav-link,
.dropdown-item {
  font-size: 1.1 rem;
  font-family: "Montserrat-Light", sans-serif;
  color: #d6ad60 !important;
}

.form-control,
.dropdown-menu,
.dropdown-divider {
  border-color: #c29b39;
}

.dropdown-item:hover {
  background-color: #d6ad6037;
}

.dropdown-item:focus,
.goldButton {
  background-color: #c29b39b4;
  color: white !important;
}

.form-control:focus {
  border-color: #d6ad60;
  box-shadow: 0 0 0 0.25rem #d6ad60;
}

.goldButton:hover,
.sortOrder:hover {
  background-color: white;
  border-color: transparent;
  color: #d6ad60;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.aware {
  color: #d6ad60;
  position: relative;
  top: 38%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  display: none;
  color: #bd9750d2;
  font-size: 3rem;
  box-shadow: none;
  border: none;
  background: none;
  /* z-index: ; */
}


button:hover path {
  fill: #ac8845;
}

/* Form */

#form {
  padding: 8rem;
}

.bgImg {
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}

.bgImg:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./imgs/bgForm.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0px auto;
  padding: 4rem;
  border-radius: 8rem;
}

input,
textarea,
textarea:focus,
input:focus,
.tab input::placeholder,
#register {
  color: #d6ad60;
}

#regForm {
  position: relative;
  height: 39.211rem;
  display: table-cell;
  vertical-align: middle;
}

#map {
  width: 400px;
  height: 300px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

span::after {
  padding-left: 5px;
}

input:invalid+span::after {
  content: "✖";
}

input:valid+span::after {
  content: "✓";
}

#text-message {
  margin: 1rem auto;
  padding: 40px;
  border-radius: 10px;
  width: 100;
}

.tab input:focus {
  border: 0.2rem solid #d79825 !important;
  outline: none;
}

.tab input::placeholder {
  opacity: 0, 3;
}

input[type="text"],
input[type="datetime-local"] {
  margin: 0.22rem 0;
  box-sizing: border-box;
  padding: 0.625rem;
  width: 29%;
  font-size: 1.063rem;
  border: 1px solid #d6ad60;
  border-radius: 0.625rem;
}

input.invalid {
  border: 0.22rem solid gold;
}

.tab {
  display: none;
}

.formButton {
  background-color: #c29b39;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  /* font-family: Raleway; */
  cursor: pointer;
  margin-right: 3rem;
}

.formButton:hover {
  opacity: 0.8;
}

.formButton:focus {
  outline: none !important;
}

#nextprevious {
  overflow: auto;
  position: relative;
  bottom: 0.3rem;
  display: inline-block;
}

#nextBtn {
  margin-right: 0;
  font-size: 1.3rem;
}

#prevBtn {
  background-color: #ffd78c;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #c29b39;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish,
.navbar-toggler,
.aware:hover {
  color: #fff;
  background: #d6ad60;
  opacity: 1;
  border-color: transparent;
}

.all-steps {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.thanks-message {
  display: none;
}

