<header>
    <img src="assets/imgs/logo.png" alt="Logo" style="width: 400px;">
    <button class="btn2"> Carta Astral </button>
    <button class="btn2"> Preguntas Frecuentes </button>
</header>

<div class="container">
    <section class="principal">
        <article>
            <h1> Carta Astral </h1>
            <p>
                Tu carta astral es un mapa del cielo que representa el momento exacto en el que naciste. Más que
                predecir el destino o pronosticar los sucesos terrestres, se usa como una potente herramienta en
                el proceso individual de auto-conocimiento. <br> <br>
                En <b> Mística </b> utilizamos la astrología védica, que está orientada a los propósitos y la
                identidad;
                más allá de tu signo, se trata de tu energía, tu personalidad y lo que decides hacer con eso.
                <br>
            </p>
            <div class="divbtn">
                <button class="btn2"> Carta Astral </button>
            </div>
        </article>

        <figure>
            <img src="assets/imgs/img-meditation.png" alt="Mujer meditando" style="width: 300px;">
        </figure>
    </section>
</div>

<div class="container">
    <section class="faq">
        <article class="column-principal">
            <h1> Información Adicional </h1>
            <p>

            </p>
            <article class="glassCard">
                <h2> Pregunta 2 </h2>
            </article>

            <article class="glassCard">
                <h2> Pregunta 4 </h2>
            </article>
        </article>

        <article class="column-principal" style="margin-top: 90px;">
            <article class="glassCard">
                <h2> Pregunta 1 </h2>
            </article>

            <article class="glassCard">
                <h2> Pregunta 3 </h2>
            </article>
        </article>
    </section>
</div>

<div class="layer"></div>

<div class="form-bg">
    <section class="form-container">
        <form [formGroup]="dataForm" (ngSubmit)="seeForm(dataForm.value)">
            <h1> Cuéntanos de ti </h1>

            <div class="input-container">
                <label for="name"> Cuál es tu nombre </label>
                <input name="name" type="text" formControlName="name">
            </div>

            <div class="input-container">
                <label for="date"> Fecha de nacimiento </label>
                <input name="date" type="date" formControlName="date">
            </div>

            <div class="input-container">
                <label for="time"> Hora de nacimiento </label>
                <input name="time" type="time" formControlName="time">
            </div>

            <div class="input-container">
                <label for="country"> Dónde naciste </label>
                <select name="country" id="" class="selector" formControlName="country">
                    <option name="Argentina" value="-35.448204964517025,-65.44046026988175 -03:00"> Argentina </option>
                    <option name="Bolivia" value="-16.998892448127513,-65.55266567583382 -04:00"> Bolivia </option>
                    <option name="Brasil" value="-9.090751693863893,-56.49355497735896 -03:00"> Brasil </option>
                    <option name="Chile" value="-27.123749683795996,-69.79104620738175 -03:00"> Chile </option>
                    <option name="Colombia" value="2.7350595911025377,-73.98378935235895 -05:00"> Colombia </option>
                    <option name="Costa Rica" value="9.778696116842218,-84.18037539892137 -06:00"> Costa Rica </option>
                    <option name="Cuba" value="21.648349697292264,-78.81904727392137 -04:00"> Cuba </option>
                    <option name="Ecuador" value="-2.1362241621952607,-78.77510196142137 -05:00"> Ecuador </option>
                    <option name="El Salvador" value="13.953595768319191,-88.68476993017137 -06:00"> El Salvador </option>
                    <option name="Guatemala" value="15.606440551130717,-90.33271914892137 -06:00"> Guatemala </option>
                    <option name="Honduras" value="14.719970304199887,-87.36641055517137 -06:00"> Honduras </option>
                    <option name="México" value="23.622459126256278,-102.6038376886121 -06:00"> México </option>
                    <option name="Nicaragua" value="12.794997510603354,-86.11396914892137 -06:00"> Nicaragua </option>
                    <option name="Panamá" value="8.518054394039448,-80.38125386555451 -05:00"> Panamá </option>
                    <option name="Paraguay" value="-24.29005151906874,-57.48635870738176 -04:00"> Paraguay </option>
                    <option name="Peru" value="-11.205226129194505,-75.61103946142137 -05:00"> Peru </option>
                    <option name="Puerto Rico" value="19.11575304719276,-69.93663280897475 -04:00"> Puerto Rico </option>
                    <option name="República Dominicana" value="19.277038949561856,-70.02998477392137 -04:00"> República Dominicana </option>
                    <option name="Uruguay" value="-32.98477268827004,-55.874323653993656 -03:00"> Uruguay </option>
                    <option name="Venezuela" value="7.143435299961607,-66.76106615206731 -04:30"> Venezuela </option>
                </select>
            </div>

            <div style="display: flex; justify-content: center;">
                <button class="btn2" type="submit"> Enviar </button>
            </div>
        </form>
    </section>
</div>

<section class="card-results">
    <h1> Este es un ejemplo </h1>
    <div class="cards-container">
        <div class="cards">
            <figure class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
            <figure class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
        </div>

        <div class="cards">
            <figure class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
            <figure class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
        </div>

        <div class="cards">
            <figure class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
            <figure class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </figure>
        </div>
    </div>
</section>

<section class="extra-info">
    <div class="info-container">
        <figure>
            <img src="assets/imgs/tarot-hand.png" alt="Mano con cartas"
                style="width: 300px; margin-top: 20px; margin-right: 40px">
        </figure>

        <article class="info">
            <h1> Astrología Védica </h1>
            <p>
                Se dice que el <b> Nakshatra </b> es el lenguaje original de las estrellas. Se relaciona con dos
                aspectos,
                lo que representa
                a las estrellas fijas que son constantes, y la Luna/mente que siempre está cambiando. <br><br>
                El <b>Yoni Porutham</b> define la compatibilidad físico-emocional y sexual. Es representado por un
                animal,
                y como tal, sigue las reglas de covivencia animal. Esto define tanto tu máxima compatibilidad con
                alguien,
                como la tendencia
                a las enemistades. <br><br>
                Finalmente, el <b>Ayurveda</b> es el sistema tradicional de sanación de la India, que considera la
                combinación
                de cuerpo, mente y espíritu como un todo. <br><br>
            </p>
        </article>
    </div>
</section>

<section class="nl-container">
    <div class="bg-nl">
        <article class="newsletter">
            <h1> ¿Quieres saber más? <br>
                Únete a nuestro Newsletter </h1>

            <div class="input-container-d">
                <label for="email"> Email </label>
                <input type="email">
            </div>

            <div class="divbtn">
                <button class="btn"> Enviar </button>
            </div>
        </article>
    </div>
</section>

<footer>
    <a href="https://github.com/GabrielaGL" target="_blank"><i class="fab fa-github contact-icon"></i></a>
    <a href="https://www.linkedin.com/in/gabriela-gl/" target="_blank"><i class="fab fa-linkedin contact-icon"></i></a>
    <a href="mailto:ggaabrielagomez@gmail.com" target="_blank"><i class="fas fa-envelope contact-icon"></i></a>

    <p>©Copyright 2023 Mística</p>
</footer>