@import /src/styles.sass

header
    background-color: $beige
    display: grid
    align-content: center
    justify-content: center
    margin-top: -8px

.btn
    @include btn
    background-image: linear-gradient(to right, $ygold, $orange)!important
    color: white
    font-weight: 600
    border: 1px solid $dark
    margin-bottom: 20px
    &:hover
        box-shadow: 4px 4px 0 $dark

.btn2
    @include btn2
    background-image: linear-gradient(to right, $ygold, $orange)!important
    margin-bottom: 20px
    &:hover
        background-color: $orange

.container
    display: flex
    justify-content: center

.principal
    background-color: white
    width: 1060px
    display: flex
    margin-top: 130px
    margin-bottom: 130px
    border-radius: 25px
    article
        margin-left: 50px
        h1
            color: $orange
            font-size: 40px
            font-weight: 800
            display: flex
            justify-content: center
        p
            font-size: 18px
            width: 615px
        button
            margin-left: 230px
            margin-top: 23px
            font-weight: 600
            font-size: 17px

.faq
    width: 100%
    display: flex
    .column-principal
        margin-left: 100px
        width: 471px
        h1
            font-size: 38px
            font-weight: 800
            display: flex
            justify-content: center
    .card
        border-radius: 25px
        border: 2px solid $orange
        background-color: white
        display: flex
        justify-content: center
        margin-bottom: 30px
        h2
            font-size: 20px
            font-weight: 600
            color: $orange

.layer
    background-color: white
    width: 100%
    height: 500px

.form-bg
    background-image: url(/assets/imgs/bg-gold.png)
    width: 100%
    height: 600px
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center

.form-container
    border-radius: 25px
    border: 3px solid $gold
    width: 780px
    height: 95%
    margin-top: -83px
    background-color: white
    display: flex
    justify-content: center
    h1
        font-size: 45px
        color: $gold
    button
        font-size: 18px

.input-container
    position: relative
    height: 45px
    width: 318px
    margin-bottom: 45px
    font-size: 18px
    label
        position: relative
        bottom: 5px
        padding: 3px
    input
        font-family: $font
        font-size: 17px
        width: 350px
        height: 90%
        border: 2px solid #DADCE0
        border-radius: 7px
        padding: 0 18px
        z-index: 1
        outline: none
        &:focus
            border: solid $gold

.card-results
    background-color: white
    width: 100%
    height: 700px
    display: grid
    justify-content: center
    h1
        margin-top: 60px
        margin-bottom: 15px
        font-size: 40px
        color: $gold
        width: 100%
        height: 50px
        text-align: center

.cards-container
    display: flex
    justify-content: space-evenly
    margin-left: -20.5rem
    padding: 0 !important
    width: 1227px
    margin-top: -58px

.cards
    transform: translate(-50%, -50%)
    transform-style: preserve-3d
    perspective: 1000px
    transition: 1s
    &:hover .card-front
        transform: rotateX(-180deg)
    &:hover .card-back
        transform: rotateX(0deg)
    .card-front
        position: absolute
        width: 100%
        height: 100%
        background-size: cover
        backface-visibility: hidden
        transform: rotateX(0deg)
        transition: 1s
    .card-back
        @extend .card-front
        transform: rotateX(180deg)

.extra-info
    background-color: white
    margin-top: -17px
    display: flex
    justify-content: center
    .info-container
        margin-top: 70px
        width: 1060px
        display: flex
    h1
        color: $orange
        font-size: 40px
        font-weight: 800
        display: flex
        justify-content: center
    p
        font-size: 18px
        width: 615px

.nl-container
    display: flex
    justify-content: center
    background-color: white
    height: 700px
    .bg-nl
        background-image: url(/assets/imgs/bg-nl.png)
        width: 1060px
        display: flex
        justify-content: center
        margin-top: 110px
        margin-bottom: 110px
        background-repeat: no-repeat
        background-size: cover
    .newsletter
        background-color: $dark
        border-radius: 25px
        margin-top: 50px
        margin-bottom: 50px
        width: 928px
        h1
            color: white
            font-size: 40px
            text-align: center
        button
            margin-top: 30px

.input-container-d
    @extend .input-container
    margin-left: 169px
    label
        color: white
    input
        background-color: $dark
        width: 552px
        color: white
