<header>
    <img src="assets/imgs/logo.png" alt="Logo" style="width: 400px;">
    <button class="btn"> Carta Astral </button>
    <button class="btn2"> Preguntas Frecuentes </button>
</header>

<section class="info">
    <section class="principal">
        <article>
            <h1> Astrología Védica </h1>
            <p>
                Tu carta astral es un mapa del cielo que representa el momento exacto en el que naciste. Más que
                predecir el destino o pronosticar los sucesos terrestres, se usa como una potente herramienta en
                el proceso individual de auto-conocimiento. <br> <br>
                En <b> Mística </b> utilizamos la astrología védica, que está orientada a los propósitos y la
                identidad;
                más allá de tu signo, se trata de tu energía, tu personalidad y lo que decides hacer con eso.
                <br>
            </p>
        </article>

        <figure>
            <img src="assets/imgs/img-meditation.png" alt="Mujer meditando" style="width: 300px;">
        </figure>

    </section>
</section>