<header>
    <img src="assets/imgs/logo.png" alt="Logo" style="width: 400px;">
    <button class="btn"> Carta Astral </button>
    <button class="btn2"> Preguntas Frecuentes </button>
</header>

<div class="container">
    <section class="principal">
        <article>
            <h1> Astrología Védica </h1>
            <p>
                Tu carta astral es un mapa del cielo que representa el momento exacto en el que naciste. Más que
                predecir el destino o pronosticar los sucesos terrestres, se usa como una potente herramienta en
                el proceso individual de auto-conocimiento. <br> <br>
                En <b> Mística </b> utilizamos la astrología védica, que está orientada a los propósitos y la
                identidad;
                más allá de tu signo, se trata de tu energía, tu personalidad y lo que decides hacer con eso.
                <br>
            </p>
            <button class="btn2"> Carta Astral </button>
        </article>

        <figure>
            <img src="assets/imgs/img-meditation.png" alt="Mujer meditando" style="width: 300px;">
        </figure>
    </section>
</div>

<div class="container">
    <section class="faq">
        <article class="column-principal">
            <h1> Preguntas Frecuentes </h1>
            <p>

            </p>
            <article class="card">
                <h2> Pregunta 2 </h2>
            </article>

            <article class="card">
                <h2> Pregunta 4 </h2>
            </article>
        </article>

        <article class="column-principal" style="margin-top: 90px;">
            <article class="card">
                <h2> Pregunta 1 </h2>
            </article>

            <article class="card">
                <h2> Pregunta 3 </h2>
            </article>
        </article>
    </section>
</div>

<div class="layer">

</div>

<div class="form-bg">
    <section class="form-container">
        <form action="">
            <h1> Cuéntanos de ti </h1>

            <div class="input-container">
                <label for=""> Cuál es tu nombre </label>
                <input type="text">
            </div>

            <div class="input-container">
                <label for=""> Fecha de nacimiento </label>
                <input type="date">
            </div>

            <div class="input-container">
                <label for=""> Hora de nacimiento </label>
                <input type="time">
            </div>

            <div class="input-container">
                <label for=""> Dónde naciste </label>
                <input type="time">
            </div>

            <button class="btn2"> Enviar </button>

        </form>
    </section>
</div>

<section class="card-results">
    <h1> Este es un ejemplo </h1>
    <div class="cards-container">
        <div class="cards">
            <div class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
            <div class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
        </div>

        <div class="cards">
            <div class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
            <div class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
        </div>

        <div class="cards">
            <div class="card-front">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
            <div class="card-back">
                <img src="assets/imgs/card.png" alt="Carta de tarot" style="width: 250px;">
            </div>
        </div>
    </div>

</section>